/** GENERAL **/

button.btn.rounded {
    border-radius: 100%!important
}


/** NAVBAR **/

.navbar {
    background: transparent!important;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center
}

.navbar-collapse {
    margin-left: 5%
} 

.mr-auto > .active {
    margin-left: initial
}

.dropdown-toggle {
    font-size: 1rem
}

#navbar .nav-item {
    margin-top: 5%
}

#navbar .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

#navbar .active > .nav-link {
    font-size: 1.4em;
    color: rgba(255, 255, 255, .9)!important;
    transition: border-bottom .7s ease, color .7s ease;
    -webkit-transition: border-bottom .7s ease, color .7s ease
}

#navbar .nav-link {
    font-size: 1.4em;
    color: rgba(255, 255, 255, .7)!important;
    transition: border-bottom .7s ease, color .7s ease;
    -webkit-transition: border-bottom .7s ease, color .7s ease
}

#navbar .active > .nav-link:hover {
    color: white!important;
    border-bottom: 3px solid #8e44ad;
    transition: border-bottom .7s ease-out, color .7s ease-out;
    -webkit-transition: border-bottom .7s ease-out, color .7s ease-out
}

#navbar .nav-link:hover {
    color: rgba(255, 255, 255, .8)!important;
    border-bottom: 3px solid #8e44ad;
    transition: border-bottom .7s ease-out, color .7s ease-out;
    -webkit-transition: border-bottom .7s ease-out, color .7s ease-out
}

.navbar-brand > img {
    width: 64px;
    height: 64px
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-icon {
    font-size: 2em
}

#openSearch {
    cursor: pointer;
    font-size: 1.5em
}

#navbar .nav-item > a {
    color: inherit;
    text-decoration: none
}

button.rounded .nav-icon {
    font-size: 1.1em
}


/** DROPDOWN **/

.dropdown:focus .dropdown-menu,
.dropdown:active .dropdown-menu,
.dropdown:hover .dropdown-menu {
    display: block
}

.dropdown-menu {
    background: rgba(0, 0, 0, .7)
}

.dropdown-menu, .dropdown-item, .dropdown-item:focus, .dropdown-item:hover {
    color: white;
    transition: color .7s ease;
    box-shadow: none
}

.dropdown i {
    color: rgba(255, 255, 255, .7)
}

.dropdown > a > i {
    margin-top: 5%;
    transition: border-bottom .7s ease-in, color .7s ease-in
}

li.dropdown:hover > a > i {
    color: rgba(255, 255, 255, .8);
    border-bottom: 3px solid #8e44ad;
    transition: border-bottom .7s ease-out, color .7s ease-out;
    -webkit-transition: border-bottom .7s ease-out, color .7s ease-out
}

.dropdown-item:hover,
.dropdown-item:focus {
    background: rgba(255, 255, 255, .2);
    border-radius: 2px
}

.open > .dropdown-menu.dropdown-info {
    opacity: 1;
    display: block;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in
}

.dropdown-menu.dropdown-info {
    display:none;
    position: absolute;
    opacity: 0;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out
}


/** AUTOCOMPLETE **/

.autocompleter {
    width: 30%;
    border-radius: 0.25rem;
    margin-top: 2%;
    color: white;
    background: rgba(0, 0, 0, .3);
    padding-top: 3%;
    padding-bottom: 3%
}

.autocompleter > .element {
    cursor: pointer
}

.autocompleter > .element:hover {
    background: rgba(255, 255, 255, .2)
}


/** SIDEBAR **/

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#sidebar a {
    transition: all 0.3s
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out
}

.overlay.active {
    display: block;
    opacity: 1
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc
}

#sidebar .sidebar-header h3 {
    font-size: 1.75rem
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.7em
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.4em;
    color: #fff;
    text-decoration: none;
    display: block
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
#sidebar a[aria-expanded="true"] {
    color: #fff;
    padding: 15px;
    font-size: 1.4em;
    text-decoration: none;
    background: #6d7fcc
}

#sidebar a[data-toggle="collapse"] {
    position: relative
}

#sidebar ul ul a {
    font-size: 1.2em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#sidebar ul.CTAs {
    padding: 20px
}

#sidebar ul.CTAs a {
    text-align: center;
    font-size: 1.4em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px
}

#sidebar a.support {
    background: #fff;
    color: #7386D5!important
}

#sidebar a.open-source,
#sidebar a.open-source:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/** MEDIAS **/

@media (min-width: 992px) {
    .dropdown > a > i {
        margin-top: 40%
    }
    
    .navbar-right {
        margin-right: 15%
    }

    .margin-rigth {
        margin-right: 5vh
    }
}

